* { box-sizing: border-box;
	 }
body {margin: 0;
}
#ie2yue{
	display:inline-block;
	position:relative;
	color:#fff;
	width:880px;
	margin-right:10px;
	vertical-align:top;
	min-height:130px;
	white-space:normal;
	background-color:rgba(0, 0, 0, 0.1);
}
#iuk2hv{
	bottom:7px;
	top:4px;
	left:0;
	min-height:7px;
	margin:0 0 5px 0;
	padding:10px 10px 1px 10px;
}
#i90iel{
	top:3px;
	width:9px;
	height:11px;
	max-width:999px;
	min-height:88px;
	left:33px;
	right:30px;
	position:relative;
	bottom:75px;
	float:right;
	border:32px black #d51919;
	background-image:url(none);
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-repeat:repeat;
	opacity:1;
	color:#000000;
	padding:0 0 13px 0;
	box-shadow:0 0 5px 0 #5d638d;
	perspective:2px;
	background-color:#2d468e;
	margin:0 -30px 27px 0;
}
#ilzazk{
	position:relative;
	float:right;
	top:17px;
	right:200px;
	background-color:rgba(176,28,28,0);
	opacity:1;
	border:#ece4e4 #010101;
	font-size:40px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	left:-216px;
	color:#d7f5e0;
}
#ivutfo{
	font-size:18px;
}
#i6uqo5{
	font-size:18px;
}
.clearfix{
	clear:both;
}
.container-width{
	width:90%;
	max-width:1800px;
	margin-top:0px;
	margin-right:auto;
	margin-bottom:0px;
	margin-left:auto;
}
.logo-container{
	float:left;
	width:50%;
}
.flex-sect{
	padding-top:100px;
	padding-right:0px;
	padding-bottom:100px;
	padding-left:0px;
	font-family:Helvetica, serif;
	background-color:#081437;
}
.cards{
	padding-top:20px;
	padding-right:0px;
	padding-bottom:20px;
	padding-left:0px;
	display:flex;
	justify-content:space-around;
	flex-direction:row;
	flex-wrap:wrap;
	max-width:2500px;
	min-height:400px;
}
.footer-under{
	background-color:rgb(49, 40, 51);
	padding-bottom:100px;
	padding-top:100px;
	min-height:500px;
	color:rgb(238, 238, 238);
	position:relative;
	font-weight:100;
	font-family:Helvetica, serif;
}
.footer-container{
	display:inline !important;
	flex-wrap:wrap;
	align-items:stretch;
	justify-content:space-around;
	margin:0 1px 0 0;
}
.foot-list{float:left;
	width:200px;
}
.foot-list-title{
	font-weight:400;
	margin-bottom:10px;
	padding-top:0.5em;
	padding-right:0px;
	padding-bottom:0.5em;
	padding-left:0px;
}
.foot-list-item{
	color:rgba(238, 238, 238, 0.8);
	font-size:1em;
	padding-top:0.5em;
	padding-right:0px;
	padding-bottom:0.5em;
	padding-left:0px;
}
.foot-list-item:hover{
	color:rgb(238, 238, 238);
}
.row{
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-wrap:nowrap;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
}
.cell{
	min-height:75px;
	flex-grow:1;
	flex-basis:100%;
}
.navbar-items-c{
	display:inline-block;
	float:right;
}
.navbar{
	color:rgb(221, 221, 221);
	min-height:50px;
	width:101%;
	background-color:#081437;
	margin:29px 0 0 0;
	height:26px;
	max-width:auto;
	top:60px;
	bottom:4px;
}
.navbar-container{
	max-width:950px;
	margin-top:0px;
	margin-right:auto;
	margin-bottom:0px;
	margin-left:auto;
	width:95%;
	font-weight:600;
	letter-spacing:normal;
	color:#dddddd;
	top:-4px;
	bottom:4px;
	margin:0 auto 0 auto;
}
.navbar-container::after{
content:"";
	clear:both;
	display:block;
}
.navbar-menu{padding-top:10px;
	padding-right:0px;
	padding-bottom:10px;
	padding-left:0px;
	display:block;
	float:right;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding:10px 0 15px 0;
	margin:0 0 12px 0;
	bottom:3px;
}
.navbar-menu-link{
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	color:inherit;
	text-decoration-line:none;
	text-decoration-style:solid;
	text-decoration-color:currentcolor;
	display:inline-block;
	padding-top:10px;
	padding-right:15px;
	padding-bottom:10px;
	padding-left:15px;
	font-family:Trebuchet MS, Helvetica, sans-serif;
}
.navbar-burger{margin-top:10px;
	margin-right:0px;
	margin-bottom:10px;
	margin-left:0px;
	width:45px;
	padding-top:5px;
	padding-right:10px;
	padding-bottom:5px;
	padding-left:10px;
	display:none;
	float:right;
	cursor:pointer;
}
.navbar-burger-line{
	padding-top:1px;
	padding-right:1px;
	padding-bottom:1px;
	padding-left:1px;
	background-color:white;
	margin-top:5px;
	margin-right:0px;
	margin-bottom:5px;
	margin-left:0px;
}*{box-sizing:border-box;
}
body{
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
#i90iel{float:left;
	flex-basis:48%;
	height:0px;
	max-width:20px;
}
.c9189{
	padding:5px;
	min-height:66px;
	min-width:50px;
	display:block;
	max-width:22px;
	margin:1px 50px 0 0;
	height:26px;
	position:relative;
	float:none;
}
.c6883{position:relative;
	width:1014px;
	margin:-60px 21px 15px 23px;
	height:400px;
	display:inline !important;
	padding:15px 0 25px 0;
	max-width:12px;
	left:0;
}
.c6908{width:880px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	white-space:nowrap;
}
.c6953{position:absolute;
	display:block;
	cursor:pointer;
	top:50%;
	left:0;
	margin-top:-25px;
}
.c6989{position:absolute;
	display:block;
	cursor:pointer;
	top:50%;
	right:0;
	margin-top:-25px;
}
.gjs-lory-slide{position:relative;
	color:#fff;
	width:880px;
	margin-right:10px;
	vertical-align:top;
	min-height:137px;
	white-space:normal;
	background-color:rgba(0, 0, 0, 0.1);
	top:40px;
	bottom:8px;
	padding:0 0 0 11px;
	margin:52px 15px 58px 0;
	display:inline-block;
	height:10px;
}
.c8256{padding:10px 10px 10px 10px;
	text-shadow:5px 3px 4px #0f1a1a;
	letter-spacing:3px;
	font-size:53px;
	font-weight:800;
	line-height:61px;
	position:relative;
	margin:2px 0 4px 0;
	text-decoration:none;
	text-align:left;
	top:69px;
	display:inline !important;
	color:rgba(208,242,103,0.9);
	font-family:Tahoma, Geneva, sans-serif;
}
.c8538{caret-color:rgb(34, 34, 34);
	color:rgb(34, 34, 34);
	font-family:arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant-caps:normal;
	font-weight:normal;
	letter-spacing:normal;
	orphans:auto;
	text-align:left;
	text-indent:0px;
	text-transform:none;
	white-space:normal;
	widows:auto;
	word-spacing:0px;
	-webkit-text-size-adjust:auto;
	-webkit-text-stroke-width:0px;
	background-color:rgb(255, 255, 255);
	text-decoration:none;
	display:inline !important;
	float:none;
}
.c8303{color:#dddddd;
}
.gjs-lory-slides{display:inline-block;
	transition-delay:1ms;
	position:relative;
	top:-1px;
	left:-6px;
	padding:0 1px 0 0;
	margin:4px 29px 0 7px;
	width:6px;
	height:300px;
	max-width:19px;
	min-height:7px;
}
.gjs-comp-selected.c8303{color:#dddddd;
	letter-spacing:3px;
}
.c9886{padding:10px;
	top:9px;
	min-height:6px;
	background-color:rgb(49, 40, 51);
}
.c9922{caret-color:rgb(83, 83, 83);
	font-size:16px;
	font-style:normal;
	font-variant-caps:normal;
	font-weight:normal;
	letter-spacing:normal;
	orphans:auto;
	text-align:center;
	text-indent:0px;
	text-transform:none;
	white-space:normal;
	widows:auto;
	word-spacing:0px;
	-webkit-text-size-adjust:auto;
	-webkit-text-stroke-width:0px;
	background-color:rgb(33, 33, 33);
	text-decoration:none;
	display:inline !important;
	float:none;
	line-height:17px;
	color:rgba(238,238,238,0.81);
	opacity:0.86;
	font-family:Arial, Helvetica, sans-serif;
}
.c12472{position:absolute;
	display:block;
	cursor:pointer;
	top:50%;
	left:0;
	margin-top:-25px;
}
.c12557{position:absolute;
	display:block;
	cursor:pointer;
	top:50%;
	right:0;
	margin-top:-25px;
}
.c6058{padding:10px;
	width:1800px;
	opacity:0.83;
	background-color:#4066d4;
	font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
	letter-spacing:4px;
}
@media (max-width: 768px){
.row{flex-wrap:wrap;
}
.row{flex-wrap:wrap;
}
.row{flex-wrap:wrap;
}
.row{flex-wrap:wrap;
}
.navbar-burger{display:block;
}
.navbar-items-c{display:none;
	width:100%;
}
.navbar-menu{width:100%;
}
.navbar-menu-link{display:block;
}
.navbar-burger{display:block;
}
.navbar-items-c{display:none;
	width:100%;
}
.navbar-menu{width:100%;
}
.navbar-menu-link{display:block;
}
.navbar-burger{display:block;
}
.navbar-items-c{display:none;
	width:100%;
}
.navbar-menu{width:100%;
}
.navbar-menu-link{display:block;
}
.navbar-burger{display:block;
}
.navbar-items-c{display:none;
	width:100%;
}
.navbar-menu{width:100%;
}
.navbar-menu-link{display:block;
}
.row{flex-wrap:wrap;
}
.row{flex-wrap:wrap;
}
.row{flex-wrap:wrap;
}
.row{flex-wrap:wrap;
}
.navbar-burger{display:block;
}
.navbar-items-c{display:none;
	width:100%;
}
.navbar-menu{width:100%;
}
.navbar-menu-link{display:block;
}
.navbar-burger{display:block;
}
.navbar-items-c{display:none;
	width:100%;
}
.navbar-menu{
	width:100%;
}
.navbar-menu-link{
	display:block;
}
.navbar-burger{
	display:block;
}
.navbar-items-c{display:none;
	width:100%;
}
.navbar-menu{width:100%;
}
.navbar-menu-link{display:block;
}
.navbar-burger{display:block;
}
.navbar-items-c{display:none;
	width:100%;
}
.navbar-menu{width:100%;
}
.navbar-menu-link{display:block;
}
}
@media (max-width: 480px){.foot-lists{display:none;
}.foot-lists{display:none;
}}
@keyframes fadeEffect{0%{opacity:0;
}100%{opacity:1;
}0%{opacity:0;
}100%{opacity:1;
}}
