<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>bottom and left panels</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
      
    <body>
        <h1>PROJECTED POINTS</h1>
        <table border =1> <tr><th>NEED</th><th>TTL</th><th>QB</th><th>RB</th><th>WR</th><th>TE</th><th>FLEX</th><th>KICK</th><th>DEF</th></tr>
      <tr><th>PTS</th><th>PTS</th><th>PTS</th><th>PTS</th><th>PTS</th><th>PTS</th><th>PTS</th><th>PTS</th><th>PTS</th></tr>
        </table>
        
     <h1>TEAM</h1>
        <table border =1>  
            <tr><th>QB</th><th>{{names[0]}}</th><th>BUTTON</th></tr>
            <tr><th>RB</th><th>NAME</th><th>BUTTON</th></tr>
            <tr><th>RB</th><th>NAME</th><th>BUTTON</th></tr>
            <tr><th>WR</th><th>NAME</th><th>BUTTON</th></tr>
            <tr><th>WR</th><th>NAME</th><th>BUTTON</th></tr>
            <tr><th>TE</th><th>NAME</th><th>BUTTON</th></tr>
            <tr><th>FLEX</th><th>NAME</th><th>BUTTON</th></tr>
            <tr><th>KICK</th><th>NAME</th><th>BUTTON</th></tr>
            <tr><th>DEF</th><th>NAME</th><th>BUTTON</th></tr>
            </table>
     
     <h1>AVG PER WEEK  </h1>
        <table border =1>  
            <tr><th>POS</th><th>HALF PPR</th><th>FULL PPR</th></tr>
            <tr><th>QB</th><th>18.2</th><th>18.2</th></tr>
            <tr><th>RB</th><th>27.1</th><th>30.2</th></tr>
            <tr><th>WR</th><th>24.9</th><th>30.4</th></tr>
            <tr><th>TE</th><th>10</th><th>12.1</th></tr>
            <tr><th>FLEX</th><th>9.1</th><th>11.3</th></tr>
            <tr><th>KICK</th><th>9.2</th><th>9.2</th></tr>
            <tr><th>DEF</th><th>8.1</th><th>8.1</th></tr>
            <tr><th>TTL</th><th>106.6</th><th>119.5</th></tr>
            </table>
     
     
    </body>
</html>
