*{
    padding : 0;
    margin : 0;
    border : 0;
}
body{
    background-attachment : fixed;
    background-size : 100% auto;
}
.blended_grid{
    display : block;
    width : 900px;
    overflow : auto;
    margin : 5px auto 0 auto;
}
.pageHeader{
    background : rgba(255, 255, 255, 0.5);
    display: flex;
    float : left;
    clear : none;
    height : 125px;
    width : 900px;
}
.pageContent{
    background : rgba(255, 255, 255, 0.5);
    float : left;
    clear : none;
    height : 600px;
    width : 700px;
}
.pageLeftMenu{
    background : rgba(255, 255, 255, 0.5);
    float : left;
    clear : none;
    height : 600px;
    width : 200px;
}
.pageFooter{
    background : rgba(255, 255, 255, 0.5);
    float : left;
    clear : none;
    height : 100px;
    width : 900px;
}

.headerDivider {
    width: 2px;
    margin: 10px;
}