*{
    padding : 0;
    margin : 0;
    border : 0;
}
body{
    background-attachment : fixed;
    background-size : 100% auto;
}
.blended_grid{
    display : block;
    width : 1200px;
    overflow : auto;
    margin : 5px auto 0 auto;
}
.pageHeader{
    background : rgba(255, 255, 255, 0.5);
    display: flex;
    float : left;
    clear : none;
    height : 150px;
    width : 1000px;
	font-size: 25px;
}
.pageContent{
    background : rgba(255, 255, 255, 0.5);
    float : left;
    clear : none;
    height : 600px;
    width : 1000px;
	font-size: 20px;

}
.pageLeftMenu{
    background : rgba(255, 255, 255, 0.5);
    float : left;
    clear : none;
    height : 600px;
    width : 200px;
	font-size: 25px;
}
.pageFooter{
    background : rgba(255, 255, 255, 0.5);
    float : left;
    clear : none;
    height : 100px;
    width : 1000px;
	font-size: 25px;
}

.headerDivider {
    width: 2px;
    margin: 10px;
}

.columns {
    column-width: 50px;
    max-width: 75px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 2em;
    grid-gap: .5em;
}

form {
    height: 150px;
    display: flex;
}
